{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: GESTION DES CHEFS{% endblock %}
{% block body %}
    <div class="row clearfix">
        <div class="col-12">
            <div class="card">
                <div class="header">
                    <h2>Liste des chefs</h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-12">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <i class="fa fa-thumbs-up"></i> {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <i class="fa fa-exclamation-triangle"></i> {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead class="thead-dark">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">REGIONS</th>
                                <th class="text-center">MATRICULES</th>
                                <th class="text-center">NOMS</th>
                                <th class="text-center">NAISSANCES</th>
                                <th class="text-center">SEXES</th>
                                <th class="text-center">BUCHETTES</th>
                                <th class="text-center">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for chef in chefs %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ chef.region.libelle }}</td>
                                    <td class="text-center">{{ chef.matricule }}</td>
                                    <td>{{ chef.nom }} {{ chef.prenoms }}</td>
                                    <td class="text-center">{{ chef.datenais|date('d-m-Y') }} à {{ chef.lieunais }}</td>
                                    <td class="text-center">{{ chef.sexe }}</td>
                                    <td class="text-center">
                                        {% if (chef.buchette == 2) %}
                                            <span class="badge badge-success">{{ chef.buchette }} bûchettes</span>
                                        {% elseif (chef.buchette == 3) %}
                                            <span class="badge badge-warning">{{ chef.buchette }} bûchettes</span>
                                        {% elseif (chef.buchette == 4) %}
                                            <span class="badge badge-danger">{{ chef.buchette }} bûchettes</span>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path('titularisation_new', {'chef': chef.slug}) }}"><i class="fa fa-plus"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/sweetalert/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/bundles/datatablescripts.bundle.js')) }}"></script>
    <script src="{{ asset('assets/vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ absolute_url(asset('assets/bundles/mainscripts.bundle.js')) }}"></script>
    <script src="{{ asset('assets/js/pages/tables/jquery-datatable.js') }}"></script>
    <script src="{{ asset('assets/js/pages/ui/dialogs.js') }}"></script>
    <script src="{{ asset('assets/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script>
        $('.select2').select2();
        $('.inline-datepicker').datepicker({
            todayHighlight: true
        });
        $(document).ready(function(){
            $('#ajouter').click(function () {
                if (document.getElementById('appbundle_chef_matricule').value !== ''){
                    //
                    document.getElementById('ajouter').innerHTML = 'Veuillez-patienter, enregistrement encours ...';
                    //$(this).attr('visibility', 'hidden')
                    document.setTimeout(function () {
                        $(this).attr('disabled', 'disabled')
                    }, 2);
                }

            });
        });
    </script>
{% endblock %}
