{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: GESTION DES CHEFS{% endblock %}
{% block body %}
    <div class="row clearfix">
        <div class="col-12">
            <div class="card">
                <div class="header">
                    <h2>Liste des chefs</h2>
                    <ul class="header-dropdown">
                        <li><a href="javascript:void(0);" class="btn btn-danger" data-toggle="modal" data-target="#addcontact">Modifier les informations de {{ chef.nom }} {{ chef.prenoms }}</a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-12">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <i class="fa fa-thumbs-up"></i> {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <i class="fa fa-exclamation-triangle"></i> {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead class="thead-dark">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">REGIONS</th>
                                <th class="text-center">MATRICULES</th>
                                <th class="text-center">NOMS</th>
                                <th class="text-center">DATES NAISS</th>
                                <th class="text-center">LIEUX NAISS</th>
                                <th class="text-center">LEVELS</th>
                                <th class="text-center">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for chef in chefs %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ chef.region.libelle }}</td>
                                    <td class="text-center">{{ chef.matricule }}</td>
                                    <td>{{ chef.nom }} {{ chef.prenoms }}</td>
                                    <td class="text-center">{{ chef.datenais|date('d-m-Y') }}</td>
                                    <td>{{ chef.lieunais }}</td>
                                    <td class="text-center">
                                        {% if (chef.classe == 'A') %}
                                            <span class="badge badge-success">BADGE</span>
                                        {% elseif (chef.classe == 'B') %}
                                            <span class="badge badge-warning">PREBADGE</span>
                                        {% elseif (chef.classe == 'C') %}
                                            <span class="badge badge-danger">CEP</span>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('chef_edit', {'slug': chef.slug}) }}"><i class="fa fa-edit"></i></a> |
                                        <a href="{{ path('chef_show', {'slug': chef.slug}) }}"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal animated zoomIn" id="addcontact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Nouveau chef</h6>
                </div>
                {{ form_start(edit_form) }}
                <div class="modal-body">
                    <div class="row clearfix">
                        <h6>Identité civile</h6>
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_widget(edit_form.region) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_widget(edit_form.imageFile) }}
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form_widget(edit_form.sexe) }}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                {{ form_widget(edit_form.matricule) }}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                {{ form_widget(edit_form.nom) }}
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form_widget(edit_form.prenoms) }}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                {{ form_widget(edit_form.datenais) }}
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form_widget(edit_form.lieunais) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <h6 style="margin-top: 25px;">Identité professionnelle</h6>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_widget(edit_form.formation) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_widget(edit_form.profession) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_widget(edit_form.tel) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_widget(edit_form.email) }}
                            </div>
                        </div>

                        <div class="col-sm-12 mt-5">
                            <div class="form-group">
                                <label class="fancy-checkbox">
                                    {{ form_widget(edit_form.titularisation) }}
                                    <span style="color: #bb0000"><em><b>Cochez si la personne a déjà fait le badge de bois</b></em></span>
                                </label>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="oldTitularisation" value="{{ chef.titularisation }}">
                    <button type="submit" class="btn btn-primary" id="ajouter">Modifier</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/sweetalert/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/bundles/datatablescripts.bundle.js')) }}"></script>
    <script src="{{ asset('assets/vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ absolute_url(asset('assets/bundles/mainscripts.bundle.js')) }}"></script>
    <script src="{{ asset('assets/js/pages/tables/jquery-datatable.js') }}"></script>
    <script src="{{ asset('assets/js/pages/ui/dialogs.js') }}"></script>
    <script src="{{ asset('assets/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script>
        $('.select2').select2();
        $('.inline-datepicker').datepicker({
            todayHighlight: true
        });
        $(document).ready(function(){
            $('#ajouter').click(function () {
                if (document.getElementById('appbundle_chef_matricule').value !== ''){
                    //
                    document.getElementById('ajouter').innerHTML = 'Veuillez-patienter, modification encours ...';
                    //$(this).attr('visibility', 'hidden')
                    document.setTimeout(function () {
                        $(this).attr('disabled', 'disabled')
                    }, 2);
                }

            });
        });
    </script>
{% endblock %}
