{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeformation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeFormation.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ typeFormation.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if typeFormation.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ typeFormation.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ typeFormation.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ typeFormation.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ typeFormation.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ typeFormation.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeformation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typeformation_edit', { 'id': typeFormation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
