{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: Gestion des districts{% endblock %}
{% block body %}
    <div class="row clearfix">
        <div class="col-12">
            <div class="card">
                <div class="header">
                    <h2>Liste des districts</h2>
                    <ul class="header-dropdown">
                        <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="modal" data-target="#addcontact">Nouveau district</a></li>
                    </ul>
                </div>
                <div class="body">
					<div class="row">
						<div class="col-12">
							{% for message in app.flashes('notice') %}
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									<i class="fa fa-thumbs-up"></i> {{ message }}
								</div>
							{% endfor %}
							{% for message in app.flashes('error') %}
								<div class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									<i class="fa fa-exclamation-triangle"></i> {{ message }}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>REGIONS</th>
								<th>DISTRICTS</th>
								<th>STATUTS</th>
								<th>ACTIONS</th>
							</tr>
							</thead>
							<tbody>
							{% for district in districts %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ district.region.libelle }}</td>
									<td>{{ district.libelle }}</td>
									<td>
										{% if district.statut %}
											<label class="fancy-checkbox">
												<input class="checkbox-tick" type="checkbox" name="checkbox" checked readonly>
												<span></span>
											</label>
										{% else %}
											<label class="fancy-checkbox">
												<input class="checkbox-tick" type="checkbox" name="checkbox" readonly>
												<span></span>
											</label>
										{% endif %}
									</td>
									<td>
										<button type="button" class="btn btn-sm btn-outline-secondary" title="Edit">
											<a href="{{ path('district_edit', {'slug': district.slug}) }}"><i class="fa fa-edit"></i></a>
										</button>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal animated zoomIn" id="addcontact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Ajouter un nouveau district</h6>
                </div>
				{{ form_start(form) }}
                <div class="modal-body">
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group">
								{{ form_widget(form.region) }}
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								{{ form_widget(form.libelle) }}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="fancy-checkbox">
									{{ form_widget(form.statut) }}
									<span>Activé</span>
								</label>

							</div>
						</div>

					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="ajouter">Ajouter</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
				{{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/sweetalert/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/bundles/datatablescripts.bundle.js')) }}"></script>
    <script src="{{ asset('assets/vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ absolute_url(asset('assets/bundles/mainscripts.bundle.js')) }}"></script>
    <script src="{{ asset('assets/js/pages/tables/jquery-datatable.js') }}"></script>
    <script src="{{ asset('assets/js/pages/ui/dialogs.js') }}"></script>
	<script src="{{ asset('assets/vendor/select2/select2.min.js') }}"></script>
	<script>
		$('.select2').select2();
		$(document).ready(function(){
		    $('#ajouter').click(function () {
		        if (document.getElementById('appbundle_district_libelle').value !== ''){
                    //
                    document.getElementById('ajouter').innerHTML = 'Veuillez-patienter, enregistrement encours ...';
                    //$(this).attr('visibility', 'hidden')
					document.setTimeout(function () {
                        $(this).attr('disabled', 'disabled')
                    }, 2);
				}

            });
		});
	</script>
{% endblock %}
