{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Annee</th>
                <th>Publiepar</th>
                <th>Modifiepar</th>
                <th>Publiele</th>
                <th>Modifiele</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participer in participers %}
            <tr>
                <td><a href="{{ path('participer_show', { 'id': participer.id }) }}">{{ participer.id }}</a></td>
                <td>{{ participer.annee }}</td>
                <td>{{ participer.publiePar }}</td>
                <td>{{ participer.modifiePar }}</td>
                <td>{{ participer.publieLe }}</td>
                <td>{{ participer.modifieLe }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participer_show', { 'id': participer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('participer_edit', { 'id': participer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participer_new') }}">Create a new participer</a>
        </li>
    </ul>
{% endblock %}
