{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: Gestion des stagiaires{% endblock %}
{% block body %}
    <div class="row clearfix">
        <div class="col-12">
            <div class="card">
                <div class="header">
                    <h2>Liste des stagiaires</h2>
                    <ul class="header-dropdown">
                        <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="modal" data-target="#addcontact">Nouveau stagiaire</a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-12">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <i class="fa fa-thumbs-up"></i> {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <i class="fa fa-exclamation-triangle"></i> {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                            <thead class="thead-dark">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">REGIONS</th>
                                <th class="text-center">CERTIFICATS</th>
                                <th class="text-center">MATRICULES</th>
                                <th class="text-center">NOMS & PRENOMS</th>
                                <th class="text-center">DATE NAISS</th>
                                <th class="text-center">TELEPHONES</th>
                                <th class="text-center">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for participant in participants %}
                                <tr>
                                    <td class="text-right">{{ loop.index }}</td>
                                    <td>{{ participant.chef.region.libelle }}</td>
                                    <td class="text-center">{{ participant.certificat.code }}</td>
                                    <td class="text-center">{{ participant.chef.matricule }}</td>
                                    <td>{{ participant.chef.nom|upper }} {{ participant.chef.prenoms }}</td>
                                    <td class="text-center">{{ participant.chef.datenais|date('d-m-Y') }}</td>
                                    <td class="text-center">{{ participant.chef.tel }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal animated zoomIn" id="addcontact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Ajouter un participant</h6>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_widget(form.chef) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_widget(form.formation) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_widget(form.certificat) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_widget(form.fonction) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_widget(form.entite) }}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="ajouter">Ajouter</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/sweetalert/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/bundles/datatablescripts.bundle.js')) }}"></script>
    <script src="{{ asset('assets/vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ absolute_url(asset('assets/bundles/mainscripts.bundle.js')) }}"></script>
    <script src="{{ asset('assets/js/pages/tables/jquery-datatable.js') }}"></script>
    <script src="{{ asset('assets/js/pages/ui/dialogs.js') }}"></script>
    <script src="{{ asset('assets/vendor/select2/select2.min.js') }}"></script>
    <script>
        $('.select2').select2();
        $(document).ready(function(){
            $('#ajouter').click(function () {
                if (document.getElementById('appbundle_participer_chef').value !== ''){
                    //
                    document.getElementById('ajouter').innerHTML = 'Veuillez-patienter, enregistrement encours ...';
                    //$(this).attr('visibility', 'hidden')
                    document.setTimeout(function () {
                        $(this).attr('disabled', 'disabled')
                    }, 2);
                }

            });
        });
    </script>
{% endblock %}
